.main-block {
  position: absolute;
  height: 100vh;
  left: 80px;
  right: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-block__wrapper {
  height: 435px;
  width: 500px;
}
.main-block__wrapper h3 {
  font-size: 16px;
  margin: 10px;
}

.main-block-cards__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-block__activities {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 48%;
  height: 150px;
  padding: 10px;
  position: relative;
}

.main-block__activities__sum__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main-block__activities__sum {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
  color: #05d2a2;
}

.main-block__activities__sum--minus {
  color: crimson;
}

.main-block__graph {
  margin-top: 50px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  height: 250px;
  padding: 10px;
}