@font-face {
  font-family: 'PTSans';
  src: local('PTSansBold'), url(./fonts/PTSans-Bold.ttf) format('ttf'),
  local('PTSansBoldI'), url(./fonts/PTSans-BoldItalic.ttf) format('ttf'),
  local('PTSans'), url(./fonts/PTSans-Regular.ttf) format('ttf'),
  local('PTSansI'), url(./fonts/PTSans-Italic.ttf) format('ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,PtSans, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}